<!-- HEADER -->
<app-header [backgroundImg]="'./assets/img/page-stratos/main-stratos.webp'" [title]="('stratos.title' | translate)"></app-header>

<!--INTRODUCTION-->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="title">
        <h5>
          {{ 'stratos.intro' | translate }}
        </h5>
      </div>
    </div>
  </div>
</section>

<!--PHASE 1-->
<section class="section section-dark">
  <div class="container">
    <div class="title">
      <h2>{{ 'stratos.phase1_title' | translate }}
        <img src="./assets/img/page-stratos/logo-seds.webp" height="75px" alt="Logo SEDS">
      </h2>
    </div>
    <div class="row">
      <div class="title">
        <div>
          <img class="img-right" src="./assets/img/page-stratos/phaseI.webp">
          {{ 'stratos.phase1_text' | translate }}<br><br>
        </div>
      </div>
    </div>

    <!--PHASE 2-->
    <div class="title">
      <h2>{{ 'stratos.phase2_title' | translate }}
        <img src="./assets/img/page-stratos/logo-csdc.webp" height="75px" alt="">
      </h2>
    </div>
    <div class="row">
      <div class="title">
        <div>
          <img class="img-left" src="./assets/img/page-stratos/phaseII.webp">
            {{ 'stratos.phase2_text' | translate }}<br><br>
        </div>
      </div>
    </div>
  </div>
</section>

<!--PERSPECTIVES ÉDUCATIVES-->
<section class="section">
  <div class="container">
    <!--PHASE 3-->
    <div class="title">
      <h2>{{ 'stratos.phase3_title' | translate }}</h2>
    </div>
    <div class="row">
      <div class="title">
        {{ 'stratos.phase3_text' | translate }}<br><br>
      </div>
      <div class="title">
        <img src="./assets/img/page-stratos/high-altitude.webp" width="100%"><br>
        «Logic will get you from A to B. Imagination will take you everywhere.»<br><br>
        - Albert Einstein
      </div>
    </div>
  </div>
</section>