<!-- HEADER -->
<app-header [backgroundImg]="'./assets/img/page-stratos/main-stratos.webp'" [title]="'Division Stratos'"></app-header>

<!--INTRODUCTION-->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="title">
        <h5>
          L'espace est un environnement unique et hostile, mais stimulant en raison des nombreuses contraintes et
          difficultés qu'il impose aux ingénieurs et scientifiques. Un tel milieu représente donc une opportunité
          incomparable pour les étudiants désirant relever des défis et apprendre à développer de façon ingénieuse des
          systèmes exploitant cet environnement. La division STRATOS se consacre donc à des projets destinés à
          atteindre les plus hautes couches de l'atmosphère terrestre, et au-delà.<br><br>

          La division conçoit, assemble et lance une charge utile à bord d'un ballon stratosphérique qui peut
          atteindre la stratosphère (environ 30km d'altitude). L'équipe participe à toutes les opérations de
          lancement, de suivi du vol et de récupération de la charge utile, ainsi qu'à l'analyse post-mission.<br><br>

          La division STRATOS a aussi pour but de tester divers expériences ou composants électroniques destinés à
          être embarqués à bord de nos fusées.<br><br>

          Certains objectifs à long terme sont également dans la ligne de mire de la division STRATOS et font l'objet
          d'un plan d'action en deux phases.<br><br>
        </h5>
      </div>
    </div>
  </div>
</section>

<!--PHASE 1-->
<section class="section section-dark">
  <div class="container">
    <div class="title">
      <h2>Phase I : Développer les compétences
        <img src="./assets/img/page-stratos/logo-seds.webp" height="75px" alt="Logo SEDS">
      </h2>
    </div>
    <div class="row">
      <div class="title">
        <div>
          <img class="img-right" src="./assets/img/page-stratos/phaseI.webp">
          La phase I consiste à concevoir un ballon stratosphérique, sa charge utile et l'ensemble de ses
          sous-systèmes lui permettant d'effectuer un vol de quelques heures à haute altitude. Différentes itérations
          du design et de multiples expériences pourront être réalisées au fil du temps.<br><br>

          Éventuellement, la division pourrait participer au concours Canadian Stratospheric Balloon Experiment
          Challenge, une initiative de SEDS-Canada. Des équipes canadiennes y participent et chacun a pour mission de
          développer une charge utile exploitant les ressources et caractéristiques propres à la stratosphère. Les
          expériences sont lancées à bord d'une nacelle de l'Agence spatiale canadienne. De telles expériences peuvent
          œuvrer dans des domaines tels que l'astrophysique, l'atmosphère terrestre et le champ magnétique, la
          biologie, la télédétection et les démonstrations technologiques.<br><br>

          Pendant cette phase, une certaine expertise dans le domaine et une banque de ressources seront développées
          au sein de la division. Ces deux éléments, en plus d'un historique de lancements, permettront de faciliter
          la transition éventuelle vers la phase II du plan d'action. Bien sûr, d'autres lancements de ballons
          stratosphériques pourront avoir lieu grâce à l'expérience acquise lors des lancements précédents.<br><br>
        </div>
      </div>
    </div>

    <!--PHASE 2-->
    <div class="title">
      <h2>Phase II : Progresser vers l'espace
        <img src="./assets/img/page-stratos/logo-csdc.webp" height="75px" alt="">
      </h2>
    </div>
    <div class="row">
      <div class="title">
        <div>
          <img class="img-left" src="./assets/img/page-stratos/phaseII.webp">
          L'objectif de la phase II est d'aller au-delà des limites de l'atmosphère terrestre. En effet, des concours
          canadiens et internationaux permettent d'encadrer des étudiants universitaires dans le design et le
          lancement de nanosatellites appelés CubeSats. Toutefois, pour le moment, aucune procédure sérieuse quant à
          l'implication de la division dans un tel concours n'est poursuivie.<br><br>

          Les projets développés dans la phase I permettront donc d'acquérir l'expertise nécessaire pour participer à
          un tel projet, d'autant plus que les ressources monétaires et matérielles sont particulièrement ardues à
          acquérir pour envoyer un engin au-delà de l'atmosphère terrestre.
        </div>
      </div>
    </div>
  </div>
</section>

<!--PERSPECTIVES ÉDUCATIVES-->
<section class="section">
  <div class="container">
    <!--PHASE 2-->
    <div class="title">
      <h2>Perspectives éducatives</h2>
    </div>
    <div class="row">
      <div class="title">
        Au fil du temps, les membres du projet approfondiront leurs connaissances en matière de programmation
        informatique, d'électronique, de théorie de vol et de mécanique orbitale, des télécommunications, de gestion
        de projets d'ingénierie, etc.<br><br>

        L'expérience acquise par les étudiants constitue un atout important pour leurs futures carrières. De la
        planche à dessin jusqu'au lancement, les connaissances acquises dans le domaine de l'aérospatiale permettront
        de former les futurs ingénieurs et scientifiques qui s'activeront pour développer l'expertise spatiale
        canadienne.
      </div>
      <div class="title">
        <img src="./assets/img/page-stratos/high-altitude.webp" width="100%"><br>
        «Logic will get you from A to B. Imagination will take you everywhere.»<br><br>
        - Albert Einstein
      </div>
    </div>
  </div>
</section>