<div class="page-header section-dark" style="background-image: url('./assets/general-gaul/main-stratos.png')">
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <div class="title-brand">
                <h1 class="presentation-title">Division Stratos</h1>
            </div>
        </div>
    </div>
</div>

<div class="main">
    <!--INTRODUCTION-->
    <div class="section section">
        <div class="container">
            <div class="row">
                <div class="title">
                    <h5>
                        L’espace est un environnement unique et hostile, mais stimulant en raison des nombreuses contraintes 
                        et difficultés qu’il impose aux ingénieurs et scientifiques. Un tel milieu représente donc une opportunité 
                        incomparable pour les étudiants désirant relever des défis et apprendre à développer de façon ingénieuse 
                        des systèmes exploitant cet environnement. La Division Stratos se consacre donc à des projets destinés 
                        à atteindre les plus hautes couches de l'atmosphère terrestre, et au-delà.<br><br>

                        La division participe cette année à un concours consistant à concevoir, construire ainsi que tester une 
                        charge utile spatiale atteignant la stratosphère (environ 30km d’altitude) à bord d’un ballon sonde stratosphérique. 
                        L’équipe participera à toutes les opérations de lancement, de suivit de vol et de récupération de la charge 
                        utile ainsi qu’à l'analyse post-mission.<br><br>
                        
                        Certains objectifs à long termes sont également dans la ligne de mire de la Division Stratos et font l’objet 
                        d’un plan d’action en deux phases.​​<br><br>
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <!--PHASE 1-->
    <div class="section section-dark">
        <div class="container">
            <div class="title">
                <h2>Phase I : 2020 - 2021
                    <img src="./assets/logos-partenaires/logo-seds.png" height="75px" alt="">
                </h2>
            </div>
            <div class="row">
                <div class="title">
                    <div>
                        <img class="img-right" src="./assets/page-stratos/phaseI.png" alt="" height="400px">
                        La phase I consiste à participer au concours Canadian Stratospheric Balloon Experiment Challenge, une 
                        initiative de SEDS-Canada. Des équipes canadiennes participeront et chacun aura pour mission de développer 
                        une charge utile exploitant les ressources et caractéristiques propres à la stratosphère. Les expériences 
                        seront lancées à bord d’une nacelle de l’Agence Spatiale Canadienne, à Saint-Hubert, au Québec. De telles 
                        expériences peuvent œuvrer dans des domaines tels que l’astrophysique, l’atmosphère terrestre et le champ 
                        magnétique, la biologie, la télédétection et les démonstrations technologiques.<br><br>

                        Pendant cette phase, une certaine expertise dans le domaine sera développée au sein de la division, plus 
                        de ressources seront disponibles et un historique de lancements permettront de faciliter la transition 
                        éventuelle vers la phase II du plan d’action. Bien sûr, d’autres lancements de ballons stratosphériques 
                        pourront continuer d’avoir lieu grâce à l’expérience acquise lors des lancements précédents.<br><br>
                    </div>
                </div>
            </div>
            <!--PHASE 2-->
            <div class="title">
                <h2>Phase II : Objectif à long terme
                    <img src="./assets/logos-partenaires/logo-csdc.png" height="75px" alt="">
                </h2>
            </div>
            <div class="row">
                <div class="title">
                    <div>
                        <img class="img-left" src="./assets/page-stratos/phaseII.png" alt="" height="250px">
                        Lors de la phase II, l’objectif sera d'aller au delà des limites de l’atmosphère terrestre. En effet, des 
                        concours canadiens et internationaux permettent d’encadrer des étudiants universitaires dans le design 
                        et le lancement de nanosatellites appelés CubeSats. Parmi ceux-ci, le Canadian Satellite Design 
                        Challenge a déjà fait l’objet de quelques travaux de la Division Stratos, mais pour le moment, aucune 
                        procédure sérieuse quand à l’implication de la division dans un tel concours n’est poursuivie.<br><br>

                        Les projects développés en phase I permettront donc d'acquérir l'expertise nécessaire pour participer à 
                        un tel projet, d'autant plus que les ressources monétaires et matérielles sont particulièrement
                        ardues à acquérir pour envoyer un engin au-delà de l'atmosphère terrestre.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--QUOTE EINSTEIN-->
    <div class="section section">
        <div class="container">
            <!--PHASE 2-->
            <div class="title">
                <h2>Perspectives éducatives</h2>
            </div>
            <div class="row">
                <div class="title">
                    Au fil du temps, les membres du projet approfondiront leurs connaissances en matière de programmation 
                    informatique, d’électronique, de théorie de vol et mécanique orbitale, des télécommunications, de gestion 
                    de projet d’ingénierie, etc.<br><br>

                    L’expérience acquise par les étudiants développeront de nombreux atouts pertinents pour leurs futures 
                    carrières. De la modélisation à l'assemblage et au lancement, les connaissances acquises dans le domaine 
                    de l’aérospatiale permettront de former les futurs ingénieurs et scientifiques qui s’activeront pour 
                    développer l’expertise spatiale canadienne.
                </div>
                <div class="title">
                    <img src="./assets/page-stratos/high-altitude.png" width="100%"><br>
                    «Logic will get you from A to B. Imagination will take you everywhere.»<br><br>
                    - Albert Einstein
                </div>
            </div>
        </div>
    </div>
</div>
