<div class="page-header section-dark" style="background-image: url('./assets/general-gaul/earth-horizon.webp')">
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <div class="title-brand">
                <h1 class="presentation-title">Modèles 3D</h1>
            </div>
        </div>
    </div>
</div>

<div class="section section">
    <div class="container">
        <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
                <ngb-tabset [justify]="'center'">
                    <ngb-tab title="SSI">
                        <ng-template ngbTabContent>
                            <p>Station Spatiale Internationale</p>
                            <iframe id="model" src="https://solarsystem.nasa.gov/gltf_embed/2378" frameborder="0" scrolling="no"></iframe>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Hubble">
                        <ng-template ngbTabContent>
                            <p>Téléscope Spatial Hubble</p>
                            <iframe id="model" src="https://solarsystem.nasa.gov/gltf_embed/2383" frameborder="0" scrolling="no"></iframe>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Mars">
                        <ng-template ngbTabContent>
                            <p>Mars, la planète rouge</p>
                            <iframe id="model" src="https://solarsystem.nasa.gov/gltf_embed/2372" frameborder="0" scrolling="no"></iframe>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Sonde planétaire">
                        <ng-template ngbTabContent>
                            <p>Sondes jumelles d'exploration martienne: Spirit et Opportunity</p>
                            <iframe id="model" src="https://solarsystem.nasa.gov/gltf_embed/2370" frameborder="0" scrolling="no"></iframe>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Atlas V">
                        <ng-template ngbTabContent>
                            <p>Fusée Atlas V</p>
                            <iframe id="model" src="https://solarsystem.nasa.gov/gltf_embed/2405" frameborder="0" scrolling="no"></iframe>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Parker">
                        <ng-template ngbTabContent>
                            <p>Sonde solaire Parker</p>
                            <iframe id="model" src="https://solarsystem.nasa.gov/gltf_embed/2356" frameborder="0" scrolling="no"></iframe>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Terre">
                        <ng-template ngbTabContent>
                            <p>Notre planète, la Terre</p>
                            <iframe id="model" src="https://solarsystem.nasa.gov/gltf_embed/2392" frameborder="0" scrolling="no"></iframe>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>        
    </div>
</div>