iframe {
  position: relative;
  width: 100%;
  aspect-ratio: 2 / 1;

  // fallback
  @supports not (aspect-ratio: 2 / 1) {
    height: 500px;
    width: 1000px;
  }

  // smaller iframe on large screen (bootstrap breakpoint)
  @media (min-width: 992px) {
    width: 80%;
  }
}
