<div class="page-header section-dark" style="background-image: url('../../assets/gaul/fusee-main.jpg')">
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <div class="title-brand">
                <h1 class="presentation-title">Division Fusée</h1>
            </div>
        </div>
    </div>
</div>

<!--PROJECTS PROGRESS-->
<div class="section">
    <div class="container">
        <div class="col-md-6">
            <div class="title">
                <h3>Avancement du projet</h3>
            </div>
            <h4>Fusée</h4>
            <ngb-progressbar type="danger" [value]="50" [striped]="true">%</ngb-progressbar>
        </div>
    </div>
</div>
