.img-right {
  float: right;
  margin: 20px 0 20px 30px;
}

.img-left {
  float: left;
  margin: 20px 30px 20px 0;
}

.fusee-text {
  justify-content: center;
  padding: 10px;
}

.grid{
  max-width: 1200px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
