<div class="page-header section-dark" style="background-image: url('../../assets/gaul/fusee-main.jpg')">
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <div class="title-brand">
                <h1 class="presentation-title">Division Fusée</h1>
            </div>
        </div>
    </div>
</div>

<div class="main">
    <!--INTRODUCTION-->
    <div class="section section">
        <div class="container">
            <div class="row">
                <div class="title">
                    <h4>
                        ​L’objectif principal de la division fusée est de concevoir une fusée haute puissance 
                        tout en respectant les critères des compétitions auxquelles nous participons. 
                        Traditionnellement, le groupe participait au Spaceport America Cup au Nouveau-Mexique. 
                        Dorénavant, le GAUL a décidé de changer de défi et de prendre part à la nouvelle compétition 
                        canadienne qui débute en 2021, Launch Canada.<br><br>

                        À cette fin, le GAUL conçoit actuellement sa 7e fusée haute puissance depuis sa renaissance 
                        en 2013. Le groupe était sensé participer avec un moteur conçu par nos membres pour la
                        première fois l’année passée, mais malheureusement, son développement ainsi que les 
                        compétitions ont été annulés dû au COVID19. Nous avons pu reprendre les activités avec 
                        le retour des classes ce septembre et sommes motivés à reprendre la tâche. Pour atteindre 
                        nos buts efficacement, la charge de travail est divisée entre trois groupes, soit l’aérostructure, 
                        la propulsion et l’avionique.<br><br>​​
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-dark">
        <!--SOUS-SYSTÈMES-->
        <div class="container">
            <div class="title">
                <h2>Sous-Systèmes</h2>
            </div>
            <div class="row">
                <div class="title">
                    <div class="col-lg-6 col-md-12">
                        <img src="assets/logos/Excelsior.jpg"alt="" height="450px">
                        <img src="assets/logos/High-V_set.jpg"alt="" height="450px">
                    </div>
                    <div class="col-lg-6 col-md-12" >
                        <h3>Aérostructure</h3><br>                         ​

                        Le groupe aérostructure est celui qui s’occupe de tout ce que l’on voit sur la fusée. En effet, 
                        ses membres se consacrent au design et à la fabrication du fuselage. Ils s’occupent aussi de tout 
                        ce qui est structurel, en passant par les matériaux utilisés pour la jonction entre les tubes 
                        jusqu’au revêtement en matériaux composites pour solidifier la fusée. De plus, les étudiants 
                        accomplissent des tâches connexes telles que la conception d’un parachute et d’un tube de Pitot 
                        ainsi que le design 3D de toutes les pièces de la fusée et la simulation du vol.<br><br>


                        <h3>Avionique</h3><br>                         ​
                        Le groupe avionique est responsable de concevoir les circuits électriques présents dans la fusée, 
                        ainsi que ceux utilisés dans toutes tâches reliées de près ou de loin à celle-ci. Ils sont principalement 
                        en charge de fabriquer un système d’acquisition des données du vol, de les transmettre au sol et de 
                        fabriquer une station ayant la capacité de recevoir et d’afficher ces informations. De plus, ils doivent 
                        concevoir un système qui déploiera les parachutes au moment opportun afin d’assurer le retour sécuritaire 
                        au sol de la fusée.<br><br>

                        <h3>Propulsion</h3><br>                         ​

                        Le groupe propulsion a un très gros défi entre les mains. Ultimement, ils doivent concevoir un moteur 
                        hybride (liquide / solide), ce qui nécessite beaucoup de recherche et développement. Pour atteindre ce but, 
                        ils doivent également concevoir un banc de test complet afin de s’assurer du bon fonctionnement de leur 
                        moteur et d’effectuer les itérations nécessaires à l’optimisation.<br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--ANCIENNES COMPÉTITIONS-->
    <div class="section section">
        <div class="container">
            <div class="title">
                <h2>Anciennes Compétitions<img src="assets/logos/SPAC.png" alt=""></h2><br><br>
            </div>
            <div class="row">
                <div>
                    <img src="assets/logos/fusee1.png" alt="" height="600px"><br>
                    <h6>2015<br>Blackbird<br>Classement: N/A<br>Altitude: 11 554'</h6>
                </div>
                <div>
                    <img src="assets/logos/fusee2.png" alt="" height="600px"><br>
                    <h6>2016<br>Ragnarök<br>Classement: 4<br>Altitude: 10 086'</h6>
                </div>
                <div>
                    <img src="assets/logos/fusee3.png" alt="" height="600px"><br>
                    <h6>2017<br>Menhir<br>Classement: 16<br>Altitude: 8 015'</h6>
                </div>
                <div>
                    <img src="assets/logos/fusee4.png" alt="" height="600px"><br>
                    <h6>2018<br>High V<br>Classement: 5<br>Altitude: 9 517'</h6>
                </div>
                <div>
                    <img src="assets/logos/fusee5.png" alt="" height="600px"><br>
                    <h6>2019<br>Excelsior!<br>Classement: 7<br>Altitude: 22 000'</h6>
                </div>
                <div>
                    <img src="assets/logos/fusee6.png" alt="" height="600px"><br>
                    <h6>2020-2021<br><br>À Venir<br></h6>
                </div>
            </div>
        </div>
    </div>
    <!--À VENIR-->
    <div class="section section-dark">
        <div class="container">
            <div class="title">
                <h2>Qu'est-ce qui nous attend?<img src="assets/logos/LaunchCan.png" alt=""></h2><br><br>
            </div>
            <div class="row">
                <div class="title">
                    Pour des raisons de sécurité, la compétition de cette année a due être reportée à l'année prochaine. 
                    Cela va permettre aux membres de la Division Fusée de bien se préparer et de réaliser en fait le premier 
                    lancement SRAD (Student Research And Developped). Ce qui est différent des autres compétitions ultérieures, 
                    c'est que ça sera la première compétition où les étudiants auront développé par eux même le moteur,
                    un composant de la fusée qui était fourni auparavant. La prochaine compétition aura lieu en 2021 et 
                    se tiendra au Canada.<br><br>
                    
                    Launch Canada est une compétition canadienne de très haut calibre se concentrant sur les moteurs de fusée
                    expérimentaux. Cela représente pour le GAUL une excellente opportunité de se démarquer à celle-ci avec 
                    le lancement de Skylark, la nouvelle fusée conçue cette année avec un moteur développé par nos membres, 
                    OBÉLIX. Celui-ci est en conception depuis plus de quatre ans et nous sommes fiers d’être arrivés
                    à ce point.<br><br>

                    <h3>Moteur OBÉLIX</h3><br>                         ​
                    OBÉLIX est un moteur hybride (solide/liquide) dont le carburant solide est un mélange de paraffine avec différents 
                    additifs et dont le comburant liquide est du protoxyde d’azote. Lorsque les deux sont mélangés dans la chambre 
                    de combustion dans des conditions spécifiques, il s’ensuit une réaction produisant la poussée nécessaire afin 
                    que notre fusée prenne son envol.<br><br>

​                    Restez à jour en nous suivant sur notre page Facebook, Twitter et Instagram !
                </div>
            </div>
        </div>
    </div>
</div>
