<!-- HEADER -->
<app-header [backgroundImg]="'./assets/img/page-fusee/main-fusee.webp'" [title]="'Division Fusée'"></app-header>

<!--INTRODUCTION-->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="title">
        <h5>
          L'objectif principal de cette division est de concevoir et de fabriquer une fusée haute puissance tout en
          respectant les critères des compétitions auxquelles le groupe participe. Depuis sa reprise en 2012 jusqu'en
          2019, le groupe participait aux compétitions organisées par la « Experimental Sounding Rocket Assiciation »
          en Utah et au Nouveau-Mexique. Depuis 2023, le GAUL participe à la compétition nationale « Launch Canada
          ».<br><br>

          C'est dans le cadre de ces deux compétitions que la division Fusée du GAUL développe ses fusées haute
          puissance. Bien que les impacts de la COVID-19 n'ont pas épargné le GAUL, nos équipes sont motivées à viser
          haut pour nos prochaines compétitions!<br><br>
        </h5>
      </div>
    </div>
  </div>
</section>

<!--SOUS-SYSTÈMES-->
<section class="section section-dark">
  <div class="container">
    <div class="title">
      <h2>Sous-Systèmes</h2>
    </div>
    <div class="row">
      <div class="title">
        <div>
          <aside class="img-right border">
            <img src="./assets/img/page-fusee/excelsior-liftoff.webp" alt="Excelsior! en vol" height="450">
          </aside>

          <h3>Aérostructure</h3><br>
          Le groupe Aérostructure est responsable de la conception et de la fabrication des composantes structurelles
          et de l'intégration des autres composantes dans la fusée. Les membres se consacrent au design et à la
          fabrication du fuselage en composite, des ailerons, de l'intégration de la baie avionique, et du système de
          récupération, c'est-à-dire le système de déploiement des parachutes et les parachutes eux-mêmes. Ce groupe
          chapeaute également l'analyse des performances de vol par simulation et l'optimisation de la masse. Les
          étudiants sont amenés à se familiariser avec divers logiciels d'analyse et de conception 3D.<br><br>

          <aside class="img-left border">
            <img src="./assets/img/page-fusee/launchpad-highv.webp" alt="High V au lancement" height="450">
          </aside>

          <h3>Avionique</h3><br>
          Le groupe Avionique est responsable de la conception des circuits électroniques présents dans la fusée et au
          sol. Les membres ont la charge de concevoir et de fabriquer un système d'acquisition des données de vol, un
          système de transmission des données au sol et de fabriquer une station ayant la capacité de recevoir et
          d'afficher ces informations. Les étudiants conçoivent également un système de déploiement des parachutes
          pour un retour sécuritaire au sol de la fusée.<br><br>

          <h3>Propulsion</h3><br>
          Le groupe Propulsion a comme mandat le choix du moteur commercial à utiliser pour chaque fusée. Les membres
          de cette division analysent les besoins et s'assurent que le moteur choisi répond aux exigences de la
          mission. Ils s'occupent ensuite d'établir la méthode d'intégration du moteur et de son assemblage dans la
          fusée.<br><br>
          Cette division est également responsable d'un des projets les plus ambitieux du GAUL : la conception et la
          fabrication d'un moteur à carburant liquide. Ce projet a pour but le design et la simulation par ordinateur
          des pièces composant le moteur afin d'en caractériser et d'optimiser ses performances. Si ce projet aboutit,
          un banc de tests pourra alors être fabriqué pour réaliser des essais au sol.<br><br>
        </div>
      </div>
    </div>
  </div>
</section>

<!--ANCIENNES COMPÉTITIONS-->
<section class="section">
  <div class="container">
    <div class="title">
      <h2>
        Anciennes Compétitions
        <img src="./assets/img/page-fusee/logo-spac.webp" height="84" alt="Logo Spaceport America Cup">
        <img src="./assets/img/page-fusee/logo-launchcan.webp" height="84" alt="Logo Launch Canada">
      </h2>
    </div>
    <div class="container grid">
      <div>
        <img class="fusee-img" src="./assets/img/page-fusee/fusee1.webp" alt="Fusée Blackbird" height="600px"><br>
        <h6 class="fusee-text">2015<br>Blackbird<br>Classement: N/A<br>Altitude: 11 554'</h6>
      </div>
      <div>
        <img class="fusee-img" src="./assets/img/page-fusee/fusee2.webp" alt="Fusée Ragnarök" height="600px"><br>
        <h6 class="fusee-text">2016<br>Ragnarök<br>Classement: 4<br>Altitude: 10 086'</h6>
      </div>
      <div>
        <img class="fusee-img" src="./assets/img/page-fusee/fusee3.webp" alt="Fusée Menhir" height="600px"><br>
        <h6 class="fusee-text">2017<br>Menhir<br>Classement: 16<br>Altitude: 8 015'</h6>
      </div>
      <div>
        <img class="fusee-img" src="./assets/img/page-fusee/fusee4.webp" alt="Fusée High V" height="600px"><br>
        <h6 class="fusee-text">2018<br>High V<br>Classement: 5<br>Altitude: 9 517'</h6>
      </div>
      <div>
        <img class="fusee-img" src="./assets/img/page-fusee/fusee5.webp" alt="Fusée Excelsior!" height="600px"><br>
        <h6 class="fusee-text">2019<br>Excelsior!<br>Classement: 7<br>Altitude: 22 000'</h6>
      </div>
      <div>
        <img class="fusee-img" src="./assets/img/page-fusee/fusee6.webp" alt="Fusée Nebula" height="600px"><br>
        <h6 class="fusee-text">2023<br>Nebula<br>Classement: 3<br>Altitude: 10 785'</h6>
      </div>
      <div>
        <img class="fusee-img" src="./assets/img/page-fusee/fusee7.webp" alt="Fusée à venir" height="600px"><br>
        <h6 class="fusee-text">2024-2025<br><br>À venir<br></h6>
      </div>
    </div>
  </div>
</section>