<div class="page-header section-dark" style="background-image: url('./assets/general-gaul/earth-horizon.png')">
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <div class="title-brand">
                <h1 class="presentation-title">Nous Contacter</h1>
            </div>
        </div>
    </div>
</div>

<div class="section section-image section-login" style="background-image: url('./assets/general-gaul/earth-neutral.png');">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 ml-auto mr-auto">
                <div class="card card-register">
                    <h3 class="title">Nous Contacter</h3>
                    Adresse:<br>1065, Avenue de la Médecine Université Laval, Québec, (Québec), Canada Québec, QC, Canada G1V 0A6<br><br>
                    Courriel:<br>gaul@fsg.ulaval.ca<br><br>
                    <form class="register-form">
                        <!--NOM-->
                        <label>Nom</label>
                        <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                            <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-address-book-o"></i>
                            </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Nom" (focus)="focus=true" (blur)="focus=false" >
                        </div>

                        <!--EMAIL-->
                        <label>Email</label>
                        <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                            <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa">@</i>
                            </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Email" (focus)="focus=true" (blur)="focus=false" >
                        </div>

                        <!--MESSAGE-->
                        <label>Message</label>
                        <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                            <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-pencil-square-o"></i>
                            </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Message" (focus)="focus1=true" (blur)="focus1=false" >
                        </div>
                        <button class="btn btn-primary btn-block btn-round">Envoyer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>