.popover{
    border-radius: 6px;
    background-color: #FFFCF5;
    color: #66615b;
    font-weight: 400;
    padding: 0;
    z-index: 1031;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.popover-header{
    background-color: #FFFFFF;
    border-bottom: 0 none;
    font-size: $font-paragraph;
    font-weight: normal;
    line-height: 22px;
    padding: 15px 15px 0px 15px;
    margin: 0;
    color: #66615b;
    text-align: center;
    border-radius: 6px 6px 0 0;
    margin-bottom: -10px;
}
.popover-body{
    background-color: #FFFFFF;
    padding: 15px;
    text-align: center;
    border-radius: 6px;
}
.popover .arrow{
    border: 0;
}
.popover.top .arrow{
    margin-left: 0;
}
.popover.bottom .arrow:after{
    border-bottom-color: $bg-danger;
}