@use "variables";

.progress {
    background-color: variables.$medium-gray;
    border-radius: variables.$border-radius-small;
    box-shadow: none;
    height: 15px;
}
.progress-thin{
    height: 4px;
}
.progress-bar{
    background-color: variables.$primary-color;
}
.progress-bar-primary{
    background-color: variables.$primary-color;
}
.progress-bar-info{
    background-color: variables.$info-color;
}
.progress-bar-success{
    background-color: variables.$success-color;
}
.progress-bar-warning{
    background-color: variables.$warning-color;
}
.progress-bar-danger{
    background-color: variables.$danger-color;
}
