@use "sass:color";
@use "variables";

.btn-twitter{
    color: variables.$social-twitter !important;

    &:hover,
    &:focus,
    &:active{
        color: variables.$social-twitter !important;
    }
}

.btn-facebook{
    color: variables.$social-facebook !important;

    &:hover,
    &:focus,
    &:active{
        color: variables.$social-facebook !important;
    }
}

.btn-google{
    color: variables.$social-google !important;

    &:hover,
    &:focus,
    &:active{
        color: variables.$social-google !important;
    }
}

.btn-linkedin{
    color: variables.$social-linkedin !important;

    &:hover,
    &:focus,
    &:active{
        color: variables.$social-linkedin !important;
    }
}
.btn-twitter-bg{
    background-color: variables.$social-twitter !important;
    border-color: variables.$social-twitter !important;
    &:hover{
        background-color: color.adjust(variables.$social-twitter, $lightness: -5%) !important;
        border-color: color.adjust(variables.$social-twitter, $lightness: -5%) !important;
    }
}
.btn-facebook-bg{
    background-color: variables.$social-facebook !important;
    border-color: variables.$social-facebook !important;
    &:hover{
        background-color: color.adjust(variables.$social-facebook, $lightness: -5%) !important;
        border-color: color.adjust(variables.$social-facebook, $lightness: -5%) !important;
    }
}
.btn-google-bg{
    background-color: variables.$social-google !important;
    border-color: variables.$social-google !important;
    &:hover{
        background-color: color.adjust(variables.$social-google, $lightness: -5%) !important;
        border-color: color.adjust(variables.$social-google, $lightness: -5%) !important;
    }
}
.btn-github-bg{
    background-color: #767676 !important;
    border-color: #767676 !important;
    &:hover{
        background-color: color.adjust(#767676, $lightness: -5%) !important;
        border-color: color.adjust(#767676, $lightness: -5%) !important;
    }
}
