<nav class="navbar navbar-expand-lg fixed-top" [ngClass]="{'navbar-transparent': navbarTransparent}">
  <div class="container text-dark">
    <div class="navbar-translate">
      <a class="navbar-brand" routerLink="/home">
        <img src="./assets/img/shared/logo-small.webp" height="48" alt="GAUL icon" class="me-2">GAUL
      </a>
      <button class="navbar-toggler navbar-burger border-0 shadow-none" (click)="sidebarToggle()" [attr.aria-expanded]="navSidebarVisible" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
      </button>
    </div>

    <div class="navbar-collapse d-flex justify-content-between" id="navbarToggler">
      <ul class="navbar-nav ms-0">
        <li class="nav-item">
          <a routerLink="/fusee" class="nav-link">Fusée</a>
        </li>
        <li class="nav-item">
          <a routerLink="/espace" class="nav-link">Espace</a>
        </li>
        <li class="nav-item">
          <a routerLink="/stratos" class="nav-link">Stratos</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-0">
        <li class="nav-item">
          <a class="nav-link d-flex" title="Page Facebook" href="https://www.facebook.com/groupeaerospatialul"
            target="_blank">
            <fa-icon [icon]="['fab', 'facebook-square']"></fa-icon>
            <div class="d-lg-none mt-1">Facebook</div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex" title="Suivre sur Instagram" href="https://www.instagram.com/gaul.ul/"
            target="_blank">
            <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
            <div class="d-lg-none mt-1">Instagram</div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex" title="YouTube" href="https://www.youtube.com/@projetGAUL" target="_blank" rel="noopener">
            <fa-icon [icon]="['fab', 'youtube']"></fa-icon>
            <div class="d-lg-none mt-1">YouTube</div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex" routerLink="/partenaires">
            <fa-icon [icon]="['fas', 'bookmark']"></fa-icon>
            Partenaires
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
