<div class="page-header section-dark" style="background-image: url('./assets/general-gaul/earth-horizon.png')">
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <div class="title-brand">
                <h1 class="presentation-title">Nos Partenaires</h1>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container col-md-1">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="./assets/logos-partenaires/logo-ul.png" alt="AESGUL">
            <a href="https://www.ulaval.ca/" class="btn btn-primary">Univesité Laval</a>
        </div>
    </div>
    <div class="container col-md-7">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="./assets/logos-partenaires/logo-aesgul.png" alt="AESGUL">
            <a href="https://www.aesgul.com/" class="btn btn-primary">AESGUL</a>
        </div>
    </div>
    <div class="container col-md-10">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="./assets/logos-partenaires/logo-solidworks.png" alt="SolidWorks">
            <a href="https://www.solidworks.com/" class="btn btn-primary">SolidWorks</a>
        </div>
    </div>
    <div class="container col-md-2">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="./assets/logos-partenaires/logo-bve.png" alt="BVE">
            <a href="https://www.bve.ulaval.ca/" class="btn btn-primary">BVE</a>
        </div>
    </div>
</div>