$card-size-small: 200px;
$card-size-medium: 320px;

.grid {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, calc($card-size-medium + 40px));

  @media screen and (max-width: 992px) {
    grid-template-columns: repeat(auto-fit, calc($card-size-small + 40px));
  }
}

.card {
  margin: 0 20px 30px 20px;
  width: 320px;

  @media screen and (max-width: 992px) {
    width: $card-size-small;
  }

  img {
    width: 320px;
    aspect-ratio: 320/180;

    @media screen and (max-width: 992px) {
      width: $card-size-small;
    }
  }
}
