<!-- HEADER -->
<app-header [backgroundImg]="'./assets/img/page-home/earth-horizon.webp'" [title]="'Nos Partenaires'"></app-header>

<!-- Intro texte -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="title">
        <p class="sponsor-intro">
          Nous souhaitons exprimer notre sincère reconnaissance à nos partenaires. 
          Votre soutien et votre confiance nous permettent de donner vie à nos projets et d’avancer avec ambition. 
          Chaque contribution, qu’elle soit grande ou petite, joue un rôle essentiel dans nos réussites. 
          Grâce à vous, nous avons l’énergie et les moyens de relever de nouveaux défis et de concrétiser nos idées. Merci de faire partie intégrante de cette aventure à nos côtés.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Plan de commandite -->
<section class="section">
  <div class="container text-center">
    <div id="sponsor-count" class="sponsor-count display-4 fw-bold mt-2">{{ displayedCount }}</div>
    <div class="sponsor-unit text-muted mb-3">partenaires</div>

    <div class="sponsor-buttons mt-4">
      <div class="d-flex justify-content-center gap-3">
        <a class="btn btn-primary btn-round btn-partenaires" href="./assets/docs/plan-partenariat-fr.pdf" target="_blank" rel="noopener">Plan de partenariat (FR)</a>
        <a class="btn btn-primary btn-round btn-partenaires" href="./assets/docs/plan-partenariat-en.pdf" target="_blank" rel="noopener">Partnership plan (EN)</a>
      </div>
    </div>
  </div>
</section>

<!-- Partenaires -->
<section class="section">
  <div class="container">
    <div class="title text-center">
      <h2>Niveau intergalactique 🌌</h2>
    </div>
  </div>
  <div class="container grid">
    <div class="card">
      <img class="card-img-top" src="./assets/img/logos-partenaires/logo-aesgul.webp" alt="AESGUL">
      <a href="https://www.aesgul.com/" class="btn btn-primary">AESGUL</a>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/img/logos-partenaires/logo-pratt-whitney.webp" alt="Pratt&Whitney Canada">
      <a href="https://www.prattwhitney.com/" class="btn btn-primary">Pratt&Whitney Canada</a>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/img/logos-partenaires/logo-asdevice.webp" alt="AsDevice">
      <a href="https://asdevices.com/" class="btn btn-primary">AsDevice</a>
    </div>
    <div class="card">
      <img class="card-img-top p-3" src="./assets/img/logos-partenaires/logo-magicolor.webp" alt="Magicolor">
      <a href="http://www.magicolor.ca/" class="btn btn-primary">Magicolor</a>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/img/logos-partenaires/logo-atkinsrealis.webp" alt="AtkinsRéalis">
      <a href="https://www.atkinsrealis.com/" class="btn btn-primary">AtkinsRéalis</a>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/img/logos-partenaires/logo-kellymachinerie.webp" alt="Kelly Machinerie">
      <a href="https://www.kellymachinerie.ca/" class="btn btn-primary">Kelly Machinerie</a>
    </div>
  </div><br><br>

  <div class="container">
    <div class="title text-center">
      <h2>Niveau interstellaire 💫</h2>
    </div>
  </div>
  <div class="container grid">
    <div class="card">
      <img class="card-img-top p-3" src="./assets/img/logos-partenaires/logo-onshape.webp" alt="OnShape">
      <a href="https://www.onshape.com/" class="btn btn-primary">OnShape</a>
    </div>
    <div class="card">
      <img class="card-img-top p-4 p-lg-5" src="./assets/img/shared/ulaval-full-black.svg" alt="Université Laval">
      <a href="https://www.ulaval.ca/" class="btn btn-primary">Univesité Laval</a>
    </div>
    <div class="card">
      <img class="card-img-top p-4 p-lg-4" src="./assets/img/logos-partenaires/logo-eddyfi.svg" alt="Eddyfi Technologies">
      <a href="https://www.eddyfi.com/" class="btn btn-primary">Eddyfi Technologies</a>
    </div>
  </div><br><br>

  <div class="container">
    <div class="title text-center">
      <h2>Niveau interplanétaire 🪐</h2>
    </div>
  </div>
  <div class="container grid">
    <div class="card">
      <img class="card-img-top p-3" src="./assets/img/logos-partenaires/logo-thetford-armature.webp" alt="Thetford Armature">
      <a href="https://www.thetfordarmature.com/" class="btn btn-primary">Thetford Armature</a>
    </div>
    <div class="card">
      <img class="card-img-top p-3" src="./assets/img/logos-partenaires/logo-lafusee.webp" alt="La Fusée">
      <a href="https://lafusee.net/" class="btn btn-primary">La Fusée</a>
    </div>
    <div class="card">
      <img class="card-img-top p-3" src="./assets/img/logos-partenaires/logo-kbi.webp" alt="KBI">
      <a href="https://www.kaizenbudointernational.com/" class="btn btn-primary">KBI</a>
    </div>
    <div class="card">
      <img class="card-img-top p-3" src="./assets/img/logos-partenaires/logo-texonic.webp" alt="Texonic">
      <a href="https://texonic.net/" class="btn btn-primary">Texonic</a>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/img/logos-partenaires/logo-cadeul.webp" alt="CADEUL">
      <a href="https://cadeul.com/" class="btn btn-primary">CADEUL</a>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/img/logos-partenaires/logo-regie.webp" alt="RÉGIÉ">
      <a href="https://gelgif.com/" class="btn btn-primary">RÉGIÉ</a>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/img/logos-partenaires/logo-aegmul.webp" alt="AEGMUL">
      <a href="https://www.facebook.com/AEGMUL/" class="btn btn-primary">AEGMUL</a>
    </div>
    <!-- <div class="card">
      <img class="card-img-top p-3" src="./assets/img/logos-partenaires/logo-textreme.webp" alt="Textreme">
      <a href="https://www.textreme.com/" class="btn btn-primary">Textreme</a>
    </div> -->
    <div class="card">
      <img class="card-img-top p-3" src="./assets/img/logos-partenaires/logo-matrick.webp" alt="Matrick inc.">
      <a href="http://entreprisesmatrick.com/" class="btn btn-primary">Les Entreprises Matrick inc.</a>
    </div>
  </div><br><br>

  <div class="container">
    <div class="title text-center">
      <h2>Orbite terreste 🌍</h2>
    </div>
  </div>
  <div class="container grid">
    <div class="card">
      <img class="card-img-top p-3" src="./assets/img/logos-partenaires/logo-teraxion.webp" alt="TeraXion">
      <a href="https://www.teraxion.com/" class="btn btn-primary">TeraXion</a>
    </div>
    <div class="card">
      <img class="card-img-top p-3" src="./assets/img/logos-partenaires/logo-aegep.webp" alt="AEGEP">
      <a href="https://aegep.asso.ulaval.ca/" class="btn btn-primary">AEGEP</a>
    </div>
    <div class="card">
      <img class="card-img-top p-3" src="./assets/img/logos-partenaires/logo-west-system.webp" alt="West System">
      <a href="https://www.westsystem.com/" class="btn btn-primary">West System</a>
    </div>
    <div class="card">
      <img class="card-img-top p-3" src="./assets/img/logos-partenaires/logo-assek.webp" alt="Assek Technologie">
      <a href="https://assek.com/" class="btn btn-primary">Assek Technologie</a>
    </div>
  </div>
</section>
