<div class="page-header section-dark" style="background-image: url('./assets/page-home/earth-horizon.webp')">
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <div class="title-brand">
                <h1 class="presentation-title">Nos Partenaires</h1>
            </div>
        </div>
    </div>
</div>

<div class="main">
    <div class="section section">
        <div class="container">
            <div class="title">
                <h2>À l'Université Laval</h2>
            </div>
        </div>
        <div class="container grid">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="./assets/logos-partenaires/logo-ul.png" alt="Université Laval">
                <a href="https://www.ulaval.ca/" class="btn btn-primary">Univesité Laval</a>
            </div>        
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="./assets/logos-partenaires/logo-aesgul.png" alt="AESGUL">
                <a href="https://www.aesgul.com/" class="btn btn-primary">AESGUL</a>
            </div>
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="./assets/logos-partenaires/logo-aegmul.png" alt="AEGMUL">
                <a href="http://aegmul.asso.ulaval.ca/" class="btn btn-primary">AEGMUL</a>
            </div>
        </div><br><br>

        <div class="container">
            <div class="title">
                <h2>Dans l'industrie</h2>
            </div>
        </div>
        <div class="container grid">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="./assets/logos-partenaires/logo-solidworks.png" alt="SolidWorks">
                <a href="https://www.solidworks.com/" class="btn btn-primary">SolidWorks</a>
            </div>
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="./assets/logos-partenaires/logo-ansys.png" alt="SolidWorks">
                <a href="https://www.ansys.com/" class="btn btn-primary">Ansys</a>
            </div>
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="./assets/logos-partenaires/logo-swagelok.png" alt="SolidWorks">
                <a href="https://www.swagelok.com" class="btn btn-primary">Swagelok</a>
            </div>
        </div>
    </div>
</div>
