<div class="page-header section-dark" style="background-image: url('./assets/general-gaul/main-espace.png')">
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <div class="title-brand">
                <h1 class="presentation-title">Division Espace</h1>
            </div>
        </div>
    </div>
</div>

<div class="main">
    <!--INTRODUCTION-->
    <div class="section section-dark">
        <div class="container">
            <div class="row">
                <div class="title">
                    <h5>
                        L’Observatoire de l’Université Laval à été inauguré le 2 octobre 1971 à St-Ézéar de Beauce, près de Québec. 
                        Le télescope avait pour but d’être utilisé pour l’enseignement des étudiants sous-gradués ainsi que pour 
                        des travaux de recherche à l’Université Laval. Délaissé peu de temps avant l’ouverture de l’Observatoire 
                        du Mont-Mégantic en 1978, le télescope est maintenant utilisé par des amateurs de la région, sous la Corporation 
                        du Mont Cosmos. En 2005 une importante mise à jour des équipements a été réalisée pour permettre à 
                        l’observatoire de réaliser ses premiers objectifs. Par contre, même avec des nouveaux équipements, le projet 
                        d’expérience sous-gradué ne s’est jamais réalisé puisque peu de ressources y étaient allouées.<br><br>

                        La division espace du GAUL a pour objectif de reprendre les travaux où ils ont été laissés il y a 
                        quelques années et d’entamer un nouveau projet d’automatisation de l’Observatoire. Le but à long terme 
                        est d’avoir un observatoire robotisé, opéré, maintenu et développé par des étudiants. L’objectif est de 
                        retourner à la mission première de l’Observatoire du Mont Cosmos: d’offrir une plateforme d’observation
                        et de développement scientifique pour les étudiants sous-gradués de l’Université Laval. <br><br>
                        
                        En effet, maintenir un observatoire astronomique comporte un lot de défis uniques qui nécessite un large 
                        éventail de connaissances afin de répondre aux exigences scientifiques des observations.<br><br>
                    </h5>
                    <img src="./assets/page-espace/mont-cosmos.png">
                </div>
            </div>
        </div>
    </div>
    <!--OBJECTIFS GLOBAUX-->
    <div class="section section">
        <div class="container">
            <div class="title">
                <h2>Objectifs Globaux</h2>
            </div>
            <div class="row">
                <div class="title">
                    Une des motivations pour robotiser l’observatoire est le fait qu’il est très difficile 
                    d’accès durant l’hiver. Ce défi signifie aussi que la situation du COVID19 a particulièrement 
                    retardé les travaux sur l’édifice puisque le groupe a perdu le seul temps d’accès pour l’année 2020 
                    qu’il possédait étant donné que le site a été fermé tout l’été. Cette année, les étudiants 
                    reprennent donc la tache et continuent de réparer ce qui a été abîmé par le passé dû aux conditions 
                    météo à l’intérieur du dôme.<br><br>

                    À cet effet, une équipe de travail s’occupera de planifier et d’entreprendre la réparation du dôme 
                    et de l’entretien du bâtiment. Pour ce qui attrait à l’expansion de l’observatoire, il y a trois volets 
                    présentement en poursuite de développement.<br><br>
                </div>
            </div>
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ngb-tabset [justify]="'center'">
                        <ngb-tab title="Premier Volet">
                            <ng-template ngbTabContent>
                                <div class="title underline">
                                    <h3>Automatisation</h3>
                                </div>
                                <p>
                                    L’automatisation du site par le biais d’une station météorologique et
                                    par l’installation de caméras afin d’observer les conditions climatiques et 
                                    de prévoir les conditions d’observation.
                                </p>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Deuxième Volet">
                            <ng-template ngbTabContent>
                                <div class="title underline">
                                    <h3>Robotisation</h3>
                                </div>
                                <p>
                                    La robotisation de l’observatoire afin d’y accéder à distance et faire de la prise de donnée de 
                                    manière autonome par le contrôle de la monture, du dôme et de la porte d’observation.
                                </p>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Troisième Volet">
                            <ng-template ngbTabContent>
                                <div class="title underline">
                                    <h3>Réparation du spectrographe</h3>
                                </div>
                                <p>
                                    La réparation et l’opération par ordinateur d’un spectrographe étant le seul instrument 
                                    scientifique de l’observatoire depuis 2005.
                                </p>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div> 
        </div>
    </div>       
    <!--WHIRLPOOL GALAXY-->
    <div class="section section-dark">
        <div class="container">
            <div class="container">
                <div class="title">
                    <h2>L'éducation sous un autre angle</h2>
                </div>
                <div class="row">
                    <div class="title">
                        Ce qui est important de garder en tête et sous une perspective plus globale, ce que la division 
                        Espace a comme mission, c'est de permettre aux étudiants du Cégep et de l'Université d'acquérir 
                        de l'expérience dans le domaine spatiale ainsi que de transmettre la passion pour l'astronomie et 
                        l'astrophysique.<br><br>

                        C'est aussi une très belle opportunité pour les étudiants finissants et qui désirent poursuivre 
                        aux cycles supérieurs de trouver un sujet de recherche sur lequel ils peuvent baser 
                        plus concrètement.<br><br>

                        En d'autres mots, le but ultime c'est de faire l'Observatoire du Mont Cosmos un outil éducatif 
                        et scientifique personnel.<br><br>
                    </div>
                </div>
            </div>
            <div class="row">
                <img src="./assets/page-espace/whirlpool-galaxy.png" height="" alt="">
            </div>
        </div>
    </div>
</div>
