/* You can add global styles to this file, and also import other style files */

/* 1. Imports */
/* Importing Bootstrap SCSS file. */
@use "bootstrap/scss/bootstrap" as *;

/* Importing Paper Kit 2 template */
@use "assets/paper-kit.scss" with (
  $primary-color: #cd2d2c,
  $danger-color: #cd2d2c,
  $bg-nude: #fff
);

/* 2. Global style/template edit */
// Taille de texte plus grand pour les paragraphes
p {
  font-size: 1rem;
}

// Texte justifié
body {
  text-align: justify;
  font-family: "Helvetica", Arial, sans-serif !important;

  h2,
  h3 {
    text-align: left;
  }
}

/* _carousel.scss */
// Ajustement des flèches pour les carrousels de photos
.carousel-control-prev-icon,
.carousel-control-next-icon {
  margin-top: 5px;
}

/* _sections.scss */
// Ajustement de la couleur des sections noires
.section-dark {
  background-color: #000;
}

/* _navbars.scss */
// Ajustement des couleurs des onglets dans les pages
.nav-tabs .nav-item .nav-link {
  color: #bbb;

  &.active {
    color: #888;
  }

  &:hover {
    color: #888;
  }
}

.nav-tabs {
  border-bottom-color: #fff;

  .nav-item {
    .nav-link.active,
    .nav-link.active:hover,
    .nav-link.active:focus {
      &:after {
        border-bottom: 11px solid #fff;
      }

      &:before {
        border-bottom: 11px solid #fff;
      }
    }
  }
}
