<div class="wrapper">
  <app-header [backgroundImg]="'./assets/img/page-home/earth-horizon.webp'"
    [title]="'./assets/img/page-home/logo-full.webp'"
    [subTitle]="'Groupe Aérospatial de l\'Université Laval'"></app-header>
  <p class="container">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae dapibus purus. Integer libero ante, posuere
    quis
    facilisis at, fringilla sed magna. Cras id cursus turpis. Nulla pharetra odio ac rutrum interdum. Donec et felis
    fringilla, eleifend dui id, bibendum diam. Donec porta mauris nisl, vitae sagittis sapien molestie sed. Duis
    condimentum suscipit massa.<br><br>

    In nec sem ut augue mattis mollis eu id erat. Quisque id finibus neque. Donec ultricies velit ultrices justo
    viverra,
    ut mattis turpis laoreet. Donec malesuada eleifend leo eget fringilla. Maecenas bibendum magna non aliquet rutrum.
    Integer sed massa ut justo ullamcorper maximus. Vivamus porttitor urna eget feugiat lobortis.<br><br>

    Aliquam erat volutpat. Morbi vel augue consequat, auctor tortor vitae, tempor elit. Phasellus nunc tellus, dictum
    vel
    odio quis, mattis venenatis erat. Phasellus ut arcu nec nulla malesuada viverra ac non odio. In laoreet mauris sed
    est
    pellentesque, ac malesuada quam suscipit. In eu ante lacinia, vulputate magna at, fermentum eros. Vestibulum vel
    lacus
    vestibulum, ullamcorper est eu, elementum nibh. Proin at dui quis felis interdum rhoncus id a ligula. Nam et erat
    nisl. Integer semper dui sed euismod commodo.<br><br>

    Aenean sed sagittis urna. Curabitur facilisis erat purus, ac ullamcorper ipsum tincidunt quis. Aenean pretium elit
    sed
    varius egestas. Aliquam ut mauris at felis eleifend mollis in et diam. Mauris sit amet iaculis sapien, vehicula
    mollis
    ex. Sed fringilla eget mi lobortis semper. Aliquam erat volutpat. Ut ultrices sem in tempus imperdiet. Lorem ipsum
    dolor sit amet, consectetur adipiscing elit. In consectetur, sapien eu fermentum pharetra, augue mauris elementum
    purus, nec cursus ipsum sapien quis velit.<br><br>

    Fusce venenatis sem ut justo ornare sollicitudin. Curabitur in consectetur nulla, nec commodo libero. Quisque
    interdum
    in ipsum ac consectetur. Donec ac volutpat arcu. Duis quis risus ut eros dictum tincidunt tincidunt a nisl. Proin
    euismod malesuada imperdiet. Maecenas facilisis lobortis pellentesque. Duis sit amet massa ut massa mollis
    iaculis.<br><br>

    In nec sem ut augue mattis mollis eu id erat. Quisque id finibus neque. Donec ultricies velit ultrices justo
    viverra,
    ut mattis turpis laoreet. Donec malesuada eleifend leo eget fringilla. Maecenas bibendum magna non aliquet rutrum.
    Integer sed massa ut justo ullamcorper maximus. Vivamus porttitor urna eget feugiat lobortis.<br><br>

    Aliquam erat volutpat. Morbi vel augue consequat, auctor tortor vitae, tempor elit. Phasellus nunc tellus, dictum
    vel
    odio quis, mattis venenatis erat. Phasellus ut arcu nec nulla malesuada viverra ac non odio. In laoreet mauris sed
    est
    pellentesque, ac malesuada quam suscipit. In eu ante lacinia, vulputate magna at, fermentum eros. Vestibulum vel
    lacus
    vestibulum, ullamcorper est eu, elementum nibh. Proin at dui quis felis interdum rhoncus id a ligula. Nam et erat
    nisl. Integer semper dui sed euismod commodo.<br><br>

    Aenean sed sagittis urna. Curabitur facilisis erat purus, ac ullamcorper ipsum tincidunt quis. Aenean pretium elit
    sed
    varius egestas. Aliquam ut mauris at felis eleifend mollis in et diam. Mauris sit amet iaculis sapien, vehicula
    mollis
    ex. Sed fringilla eget mi lobortis semper. Aliquam erat volutpat. Ut ultrices sem in tempus imperdiet. Lorem ipsum
    dolor sit amet, consectetur adipiscing elit. In consectetur, sapien eu fermentum pharetra, augue mauris elementum
    purus, nec cursus ipsum sapien quis velit.<br><br>

    Fusce venenatis sem ut justo ornare sollicitudin. Curabitur in consectetur nulla, nec commodo libero. Quisque
    interdum
    in ipsum ac consectetur. Donec ac volutpat arcu. Duis quis risus ut eros dictum tincidunt tincidunt a nisl. Proin
    euismod malesuada imperdiet. Maecenas facilisis lobortis pellentesque. Duis sit amet massa ut massa mollis
    iaculis.<br><br>

    In nec sem ut augue mattis mollis eu id erat. Quisque id finibus neque. Donec ultricies velit ultrices justo
    viverra,
    ut mattis turpis laoreet. Donec malesuada eleifend leo eget fringilla. Maecenas bibendum magna non aliquet rutrum.
    Integer sed massa ut justo ullamcorper maximus. Vivamus porttitor urna eget feugiat lobortis.<br><br>

    Aliquam erat volutpat. Morbi vel augue consequat, auctor tortor vitae, tempor elit. Phasellus nunc tellus, dictum
    vel
    odio quis, mattis venenatis erat. Phasellus ut arcu nec nulla malesuada viverra ac non odio. In laoreet mauris sed
    est
    pellentesque, ac malesuada quam suscipit. In eu ante lacinia, vulputate magna at, fermentum eros. Vestibulum vel
    lacus
    vestibulum, ullamcorper est eu, elementum nibh. Proin at dui quis felis interdum rhoncus id a ligula. Nam et erat
    nisl. Integer semper dui sed euismod commodo.<br><br>

    Aenean sed sagittis urna. Curabitur facilisis erat purus, ac ullamcorper ipsum tincidunt quis. Aenean pretium elit
    sed
    varius egestas. Aliquam ut mauris at felis eleifend mollis in et diam. Mauris sit amet iaculis sapien, vehicula
    mollis
    ex. Sed fringilla eget mi lobortis semper. Aliquam erat volutpat. Ut ultrices sem in tempus imperdiet. Lorem ipsum
    dolor sit amet, consectetur adipiscing elit. In consectetur, sapien eu fermentum pharetra, augue mauris elementum
    purus, nec cursus ipsum sapien quis velit.<br><br>

    Fusce venenatis sem ut justo ornare sollicitudin. Curabitur in consectetur nulla, nec commodo libero. Quisque
    interdum
    in ipsum ac consectetur. Donec ac volutpat arcu. Duis quis risus ut eros dictum tincidunt tincidunt a nisl. Proin
    euismod malesuada imperdiet. Maecenas facilisis lobortis pellentesque. Duis sit amet massa ut massa mollis
    iaculis.<br><br>

    In nec sem ut augue mattis mollis eu id erat. Quisque id finibus neque. Donec ultricies velit ultrices justo
    viverra,
    ut mattis turpis laoreet. Donec malesuada eleifend leo eget fringilla. Maecenas bibendum magna non aliquet rutrum.
    Integer sed massa ut justo ullamcorper maximus. Vivamus porttitor urna eget feugiat lobortis.<br><br>

    Aliquam erat volutpat. Morbi vel augue consequat, auctor tortor vitae, tempor elit. Phasellus nunc tellus, dictum
    vel
    odio quis, mattis venenatis erat. Phasellus ut arcu nec nulla malesuada viverra ac non odio. In laoreet mauris sed
    est
    pellentesque, ac malesuada quam suscipit. In eu ante lacinia, vulputate magna at, fermentum eros. Vestibulum vel
    lacus
    vestibulum, ullamcorper est eu, elementum nibh. Proin at dui quis felis interdum rhoncus id a ligula. Nam et erat
    nisl. Integer semper dui sed euismod commodo.<br><br>

    Aenean sed sagittis urna. Curabitur facilisis erat purus, ac ullamcorper ipsum tincidunt quis. Aenean pretium elit
    sed
    varius egestas. Aliquam ut mauris at felis eleifend mollis in et diam. Mauris sit amet iaculis sapien, vehicula
    mollis
    ex. Sed fringilla eget mi lobortis semper. Aliquam erat volutpat. Ut ultrices sem in tempus imperdiet. Lorem ipsum
    dolor sit amet, consectetur adipiscing elit. In consectetur, sapien eu fermentum pharetra, augue mauris elementum
    purus, nec cursus ipsum sapien quis velit.<br><br>

    Fusce venenatis sem ut justo ornare sollicitudin. Curabitur in consectetur nulla, nec commodo libero. Quisque
    interdum
    in ipsum ac consectetur. Donec ac volutpat arcu. Duis quis risus ut eros dictum tincidunt tincidunt a nisl. Proin
    euismod malesuada imperdiet. Maecenas facilisis lobortis pellentesque. Duis sit amet massa ut massa mollis
    iaculis.<br><br>
  </p>
</div>