<!-- HEADER -->
<app-header [backgroundImg]="'./assets/img/page-home/earth-horizon.webp'"
  [title]="'./assets/img/page-home/logo-full.webp'" [subTitle]="'Groupe Aérospatial de l\'Université Laval'"
  [logoUlaval]="true"></app-header>

<!--À PROPOS-->
<section class="section section-dark">
  <div class="container">
    <div class="title">
      <h2>{{ 'home.about_title' | translate }}</h2>
    </div>
    <div class="row">
      <div class="title">
        <h3>{{ 'home.developpement_title' | translate }}</h3><br>
        {{ 'home.developpement_text' | translate }}<br><br>

        <h3>{{ 'home.local_title' | translate }}</h3><br>
        {{ 'home.local_text' | translate }}<br><br>
      </div>
      <div id="divisions">
        <div class="title">
          <h3>{{ 'home.divisions_title' | translate }}</h3>
        </div>
        <div class="row">
          <a class="col-6 col-xs-12 col-md-4 mycard" routerLink="/fusee">
            <div class="hover">
              <h1>{{ 'home.rocket_title' | translate }}</h1>
            </div>
            <img src="./assets/img/page-fusee/main-fusee-2024.webp" alt="Division Fusée" class="img-rounded img-responsive">
          </a>
          <a class="col-6 col-xs-12 col-md-4 mycard" routerLink="/espace">
            <div class="hover">
              <h1>{{ 'home.space_title' | translate }}</h1>
            </div>
            <img src="./assets/img/page-espace/main-espace.webp" alt="Division Espace" class="img-rounded img-responsive">
          </a>
          <a class="col-6 col-xs-12 col-md-4 mycard" routerLink="/stratos">
            <div class="hover">
              <h1>{{ 'home.stratos_title' | translate }}</h1>
            </div>
            <img src="./assets/img/page-stratos/main-stratos.webp" alt="Division Stratos" class="img-rounded img-responsive">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!--EN PHOTO-->
<section class="section">
  <div class="container">
    <div class="title">
      <h3>{{ 'home.photo_section_title' | translate }}</h3>
    </div>
    <div class="d-flex justify-content-center mt-5">
      <div class="card page-carousel w-lg-75">
        <ngb-carousel #pageCarousel>
          <ng-template ngbSlide>
            <img src="./assets/img/page-home/carousel20.webp" alt="Fusée 2025">
            <div class="carousel-caption">
              <p>Fusée 2025</p>
            </div>
          </ng-template>

          <ng-template ngbSlide>
            <img src="./assets/img/page-home/carousel21.webp" alt="Fusée 2025">
            <div class="carousel-caption">
              <p>Fusée 2025</p>
            </div>
          </ng-template>

          <ng-template ngbSlide>
            <img src="./assets/img/page-home/carousel2025.webp" alt="GAUL 2025">
            <div class="carousel-caption">
              <p>GAUL 2025</p>
            </div>
          </ng-template>

          <ng-template ngbSlide>
            <img src="./assets/img/page-home/carousel2024maia.webp" alt="Fusée 2024">
            <div class="carousel-caption">
              <p>Fusée 2024 - Maïa</p>
            </div>
          </ng-template>

          <ng-template ngbSlide>
            <img src="./assets/img/page-home/carousel2024merope.webp" alt="Fusée 2024">
            <div class="carousel-caption">
              <p>Fusée 2024 - Mérope</p>
            </div>
          </ng-template>

          <ng-template ngbSlide>
            <img src="./assets/img/page-home/carousel1.webp" alt="GAUL 2023">
            <div class="carousel-caption">
              <p>GAUL 2023</p>
            </div>
          </ng-template>

          <ng-template ngbSlide>
            <img src="./assets/img/page-home/carousel2.webp" alt="Fusée 2023">
            <div class="carousel-caption">
              <p>Fusée 2023</p>
            </div>
          </ng-template>

          <ng-template ngbSlide>
            <img src="./assets/img/page-home/carousel3.webp" alt="Fusée 2019">
            <div class="carousel-caption">
              <p>Fusée 2019</p>
            </div>
          </ng-template>

          <ng-template ngbSlide>
            <img src="./assets/img/page-home/carousel4.webp" alt="Fusée 2018">
            <div class="carousel-caption">
              <p>Fusée 2018</p>
            </div>
          </ng-template>

          <ng-template ngbSlide>
            <img src="./assets/img/page-home/carousel5.webp" alt="Fusée 2017">
            <div class="carousel-caption">
              <p>Fusée 2017</p>
            </div>
          </ng-template>

          <ng-template ngbSlide>
            <img src="./assets/img/page-home/carousel6.webp" alt="Fusée 2016">
            <div class="carousel-caption">
              <p>Fusée 2016</p>
            </div>
          </ng-template>

          <ng-template ngbSlide>
            <img src="./assets/img/page-home/carousel7.webp" alt="Fusée 2015">
            <div class="carousel-caption">
              <p>Fusée 2015</p>
            </div>
          </ng-template>

          <ng-template ngbSlide>
            <img src="./assets/img/page-home/carousel8.webp" alt="Espace">
            <div class="carousel-caption">
              <p>Espace</p>
            </div>
          </ng-template>

          <ng-template ngbSlide>
            <img src="./assets/img/page-home/carousel9.webp" alt="Stratos">
            <div class="carousel-caption">
              <p>Stratos</p>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div>
</section>


<!--PARTENAIRES-->
<section class="section section-dark">
  <div class="container">
    <div class="title">
      <h2>{{ 'nav.partenaires' | translate }}</h2>
    </div>
    <div class="row">
      <div class="title">
        {{ 'home.partenaires_text' | translate }}
      </div>
      <div class="center">
  <button id="btn-partenaires" class="btn btn-primary btn-round mt-2" routerLink="/partenaires">{{ 'home.partners_button' | translate }}</button>
      </div>
    </div>
  </div>
</section>
<!--HISTOIRE-->
<section class="section">
  <div class="container">
    <div class="title">
      <h2>Histoire</h2>
    </div>
    <div class="row">
      <div class="title">
        <h3>{{ 'history_title' | translate }}</h3><br>
        {{ 'history_text' | translate }}<br><br>
      </div>
    </div>
  </div>
</section>

<!--NASA SHOWCASE-->
<!-- <section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <h2 class="title">Modèles 3D</h2>
        <p class="description">
          Cette vitrine permettet d'interagir avec certains modèles
          développés par le GAUL ainsi que des modèles officiels
          de la NASA. Voyez et explorez des objets tels que:<br><br>

          - Station Spatiale Internationale<br>
          - Sondes Spirit et Opportunity<br>
          - Téléscope Spatial Hubble<br>
          - Etc.<br>

        </p>
        <a routerLink="/showcase" class="btn btn-primary btn-round mt-2">Explorez les modèles</a>
        <a href="https://solarsystem.nasa.gov/" class="btn btn-outline-primary btn-round mt-2" target="_blank">
          NASA's Solar System Exploration
        </a>
      </div>
      <div class="col-lg-6 col-md-12 mt-3">
        <div class="card page-carousel">
          <ngb-carousel>
            <ng-template ngbSlide>
              <img src="./assets/img/page-home/3d-iss.webp" alt="Station Spatiale Internationale">
            </ng-template>
            <ng-template ngbSlide>
              <img src="./assets/img/page-home/3d-hubble.webp" alt="Téléscope Spatial Hubble">
            </ng-template>
            <ng-template ngbSlide>
              <img src="./assets/img/page-home/3d-atlas.webp" alt="Fusée Atlas V">
            </ng-template>
            <ng-template ngbSlide>
              <img src="./assets/img/page-home/3d-deepspace.webp" alt="Antenne Deepspace">
            </ng-template>
          </ngb-carousel>
        </div>
      </div>
    </div>
  </div>
</section> -->
