<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="/home">GAUL</a></li>
                    <li><a href="https://github.com/GuillaumeLandry/GAUL/blob/master/LICENSE">License</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, Groupe Aérospatial de l'Université Laval
                </span>
            </div>
        </div>
    </div>
</footer>
