<footer class="footer wrapper">
  <div class="container">
    <div class="row d-flex justify-content-between">
      <nav class="footer-nav m-0 w-auto">
        <ul>
          <li><a routerLink="/home">GAUL</a></li>
          <li><a href="https://www.creative-tim.com/license">License</a></li>
          <li><a href="https://www.creative-tim.com/product/paper-kit-2-angular">Template</a></li>
        </ul>
      </nav>
      <div class="credits m-0 w-auto">
        <span class="copyright">
          &copy; {{myDate | date: 'yyyy'}}, Groupe Aérospatial de l'Université Laval
        </span>
      </div>
    </div>
  </div>
</footer>