// FONTS
$font-color:                 #66615b !default;
$fill-font-color:            rgba(255, 255, 255, 0.8);
$font-family-sans-serif:     'Montserrat', "Helvetica", Arial, sans-serif;
$font-paragraph:               15px !default;
$font-size-base:               14px !default;
$font-size-small:              12px !default;
$font-size-medium:             16px !default;
$font-size-large:              20px !default;
$font-size-large-navbar:       22px !default;
$font-size-h1:                 3.6em !default;
$font-size-h2:                 2.8em !default;
$font-size-h3:                 1.825em !default;
$font-size-h4:                 1.6em !default;
$font-size-h5:                 1.35em !default;
$font-size-h6:                 0.9em !default;
$font-size-navbar:             14px !default;
$font-size-navbar-logo:        25px !default;
$font-size-info-horizontal:    2.5em !default;
$font-weight-light:          300 !default;
$font-weight-normal:         400 !default;
$font-weight-semi:           500 !default;
$font-weight-bold:           600 !default;

// COLORS
$white-color:                #FFFFFF !default;
$black-color:                #333333 !default;
$light-gray:                 #E3E3E3 !default;
$dark-gray:                  #9A9A9A !default;
$other-medium-gray:          #A49E93 !default;
$transparent-bg:             transparent !default;
$default-color:              #66615B !default;
$default-bg:                 #66615B !default;
$default-states-color:       #403D39 !default;
$card-black-color:           #333333 !default;
$primary-color:              #e41715 !default;
$primary-states-color:       darken($primary-color, 10%) !default;


// PADDING & SPACING
$padding-base-vertical:         7px !default;
$padding-base-horizontal:       18px !default;
$padding-large-vertical:       11px !default;
$padding-large-horizontal:     30px !default;
$padding-small-vertical:        4px !default;
$padding-small-horizontal:     10px !default;
$padding-social-a:               10px  5px;

$border-radius-btn-large:      50px !default;
$border-radius-extreme:         12px !default;
$border-radius-top:        10px 10px 0 0 !default;
$border-radius-bottom:     0 0 10px 10px !default;
$border-radius-dropdown:   10px 10px !default;

// NAVIGATION
$navbar-padding-a:               10px 15px;
$navbar-margin-a:                15px  0px;
$navbar-margin-a-btn:            15px 3px;
$navbar-margin-a-btn-round:      16px 3px;
$navbar-padding-a-icons:         6px 15px;
$navbar-margin-a-icons:          6px  3px;
$navbar-padding-brand:           20px 15px;
$navbar-margin-brand:             5px  0px;
$navbar-margin-brand-icons:      12px auto;
$navbar-margin-btn:              15px  3px;
